In [1]:
import pandas as pd
import numpy as np

print("Pandas version:", pd.__version__)
print("NumPy version:", np.__version__)
print("Successfully imported Pandas and NumPy!")

Pandas version: 2.2.3
NumPy version: 2.2.4
Successfully imported Pandas and NumPy!

In [2]:
# Load the dataset
df = pd.read_excel("../data/raw/online_retail.xlsx", sheet_name="Online Retail")

KeyboardInterrupt:

In [ ]:
df.shape  # Display the shape of the DataFrame

(541909, 8)

In [ ]:
df.head()  # Display the first few rows of the DataFrame

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [ ]:
df.info()  # Display information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
df.isnull().sum()  # Check for missing values in the DataFrame

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    541909 non-null  object
 1   stockcode    541909 non-null  object
 2   description  540455 non-null  object
 3   quantity     541909 non-null  int64
 4   invoicedate  541909 non-null  datetime64[ns]
 5   unitprice    541909 non-null  float64
 6   customerid   406829 non-null  float64
 7   country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
# Hapus baris yang memiliki nilai NaN pada kolom 'customerid'
df.dropna(subset=['customerid'], inplace=True)

In [ ]:
# Hapus duplikat baris
df.drop_duplicates(inplace=True)

In [ ]:
# Ubah tipe data kolom 'invoicedate' menjadi datetime
df['invoicedate'] = pd.to_datetime(df['invoicedate'])

In [ ]:
# Memastikan kolom 'quantity' dan 'unitprice' memiliki nilai yang valid
df = df[(df['quantity'] > 0) & (df['unitprice'] > 0)]

In [ ]:
# Hitung total harga untuk setiap baris
df['totalprice'] = df['quantity'] * df['unitprice']

In [ ]:
df.head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,totalprice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [ ]:
# Pemilahan kolom yang relevan untuk analisis
cleaned_df = df[['invoiceno', 'stockcode', 'description', 'quantity', 'invoicedate', 'unitprice', 'customerid', 'country', 'totalprice']]

In [ ]:
cleaned_df.to_csv("../data/cleaned/cleaned_retail_data.csv", index=False)

In [3]:
df = pd.read_csv("../data/cleaned/cleaned_retail_data.csv")
print("Cleaned data saved successfully!")
df.head()

Cleaned data saved successfully!

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,totalprice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [4]:
df.shape

(392692, 9)

In [ ]:
# mencari quantity yang banyak dibeli
top_quantity = cleaned_df.groupby('stockcode')['quantity'].sum().reset_index()
top_quantity = top_quantity.sort_values(by='quantity', ascending=False).head(10)
print("Top 10 stockcodes by quantity purchased:")
print(top_quantity)

Top 10 stockcodes by quantity purchased:
     stockcode  quantity
2329     23843     80995
1927     23166     77916
2499     84077     54319
1018     22197     49160
3343    85099B     46078
3349    85123A     36763
2602     84879     35263
353      21212     33670
1849     23084     27153
1282     22492     26076